*
    margin 0
    padding 0
a 
    text-decoration none
.mod
    width 265px
    margin-bottom 30px
    h2 
        color #007722
        margin-bottom 12px
        font-size: 15px
        line-height 150%
        font-weight normal
        .pl 
           color #666666
           font-size 12px
            a 
                color #27a 
   ol 
        margin 0
        padding 0
        li  
            margin-bottom 6px
            padding-bottom 5px
            list-style-type decimal
            list-style-position inside
            a 
                margin-left 5px
                color #2277aa
    